.navbar-brand img {
    width: 200px;
}

.navbar {
    background-color: rgba(47, 200, 47, 0.028);
    background-image: url(multimedia/fondo1.jpg);
    background-size: cover;
    background-position-y: 1100px;
    background-position-x: auto;
    border: solid rgba(0, 128, 0, 0.137) 1.5px;
} 

.nav-link {
    color: rgba(2, 162, 2, 0.682) !important;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    padding: 1px;
    margin: 10px;
    border-radius: 10px;
} 

.nav-link:hover {
    background-color: rgba(112, 233, 108, 0.353);
    border-radius: 10px;
    transition: 0.2s ease-out;
}

.navbar-nav {
    padding: 10px !important;
}

