@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@600&family=Quicksand:wght@300;500;600;700&family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:ital,wght@1,100&display=swap');


// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Flex', sans-serif;

// Fuentes

$font1: 'Poppins', sans-serif;
$font2: 'Montserrat', sans-serif;
$font3: 'Roboto', sans-serif;
$font4: 'Roboto Flex', sans-serif;
$font5: 'Quicksand', sans-serif;

// Colores

$color1: rgba(255, 255, 255, 0.633);
$color2: rgba(22, 123, 63, 0.689);
$color3: rgb(0, 0, 0);
$color4: rgb(101, 100, 100);

// Tamaños (múltiplos de 5)

$size1: 5px;
$size2: 10px;
$size3: 15px;
$size4: 20px;
$size5: 25px;
$size6: 30px;
$size7: 35px;
$size8: 40px;
$size9: 45px;
$size10: 50px;
$size11: 55px;
$size12: 60px;
$size13: 65px;
$size14: 70px;

$small: 20px;
$medium: 50px;
$high: 100px;




